bin
obj
release
debug
*.ncrunchproject
*.ncrunchsolution
*.cache
*.suo
packages
reports
svc_reports
_ReSharper*
*.user
*.orig
*.nupkg
OpenCover
*.log
*.dbmdl
*.schemaview
!tools/bin
!tools/bin/sonar-runner-2.4/bin
Backup*
UpgradeLog*
db_package
unit-coverage.xml
[Ll]ogs
jmeter.api.*
jmeter.log
perf_reports/PerformanceResults.jtl
perf_reports/PerformanceResultsAPI.jtl
make/psmake*
Wonga.Address.Api.Host/Wonga.Address.Api.Host.csproj.DotSettings
Wonga.Address.Api.Host/Wonga.Address.CsApi.Host.csproj.DotSettings
Src/.vs